@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    margin: 0;
    padding: 0;
}

/* .temp{
    color: white;
} */

@media only screen and (max-width: 2500px) {

    
body{
    background-image: url("../IMAGES/plant-in-compost.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}

li,a,button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: aliceblue; */
}

.logo{
    cursor: pointer;
    
    margin: 0% 0% 0% 0%;
}

.LogoImg{
    /* display: none; */
    margin: 0% 0% 0% -180%;
}
.nav_links{
    list-style: none;
    margin-left: -40%;
   
}

.nav_links li{
    display: inline;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 15px;
    padding-right: 2px;
} 

.nav_links li a:hover{
    color: #CA791A;
}

/* button{
    padding: 9px 25px;
    background-color: #CA791A;
    opacity: 0.8;
    border: none;
    font-size: 11px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
   
} */

.cta2 button{
    font-size: 15px;

}

.cta button{
    font-size: 15spx;
    padding: 9px 25px;
    
}

.cta2{
    padding: 9px 25px;
    background-color: #CA791A;
    opacity: 0.8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: -20%;
    margin-right: -30%;
}

.cta{
    margin-left: 80px;
    /* margin-right: 18px; */
    padding: 9px 25px;
    background-color: #ffffff;
    opacity: 0.8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 11px;
}  
 

button:hover{
    opacity: 1;

}
    
    .hometxt{
        color:rgb(255, 255, 255);
        margin: 15% 0 0 10%;
        font-family: 'Dancing Script', cursive;
        font-size: 60px;
    }
    
    
     /* .temp{
        display: block;   
        color: white; 
    } 
     */
    .HomeImg{
        /* display: none; */
        margin: 0% 0% 0% 0%;
    }

    .homeContent{
        display: flex;
    }
    .HomeImg{
        width: 500px;
        margin: 50% 0% 0% -10%;
    }
  } 

  @media only screen and (max-width: 900px) {

    
body{
    background-image: url("../IMAGES/plant-in-compost.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

li,a,button{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;


}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: aliceblue; */
}

.logo{
    cursor: pointer;
    margin: 0% 0% 0% -20%;
}

.LogoImg{
    display: none;
    margin: 0% 0% 0% -180%;
}
.nav_links{
    list-style: none;
    margin-left: -60%;
}

.nav_links li{
    display: inline;
    padding: 0 20px;
    margin-left: -10px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
    font-size: 13px;
}

.nav_links li a:hover{
    color: #CA791A;
}

/* button{
    padding: 7px 14px;
    background-color: #CA791A;
    opacity: 0.8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
     */



.cta2{
    padding: 0px 0px;
    background-color: #CA791A;
    opacity: 0.8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    /* margin-left: -100%; */
    margin-right: -10%;
}

.cta{
    margin-right: 2%;
    margin-left: -60%;
}

.cta button{
    padding: 0px 0px;
    background-color: #CA791A;
    opacity: 0.8;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 15px;
    
}  
 

button:hover{
    opacity: 1;

}

.hometxt{
    color: rgb(255, 255, 255);
    margin: 19% 0 0 10%;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}


.homeContent{
    display: flex;
}
    
.HomeImg{
    display: none;
    width: 500px;
    margin: 50% 0% 0% -10%;
}
}

@media only screen and (max-width: 350px) {

    
    body{
        background-image: url("../IMAGES/plant-in-compost.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        height: 700px;
    }
    
    li,a,button{
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 10px;
        color: #edf0f1;
        text-decoration: none;
    
    
    }
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 10%;
        /* background-color: aliceblue; */
    }
    
    .logo{
        cursor: pointer;
        margin: 0% 0% 0% -20%;
    }
    
    .LogoImg{
        display: none;
        margin: 0% 0% 0% -180%;
    }
    .nav_links{
        list-style: none;
        /* margin-left: -60%; */
    }
    
    .nav_links li{
        display: inline;
        padding: 0 20px;
        margin-left: -32px;
        /* font-size: 10px; */
    }
    
    .nav_links li a{
        transition: all 0.3s ease 0s;
        font-size: 10px;
    }
    
    .nav_links li a:hover{
        color: #CA791A;
    }
    
    /* button{
        padding: 0px 0px;
        background-color: #CA791A;
        opacity: 0.8;
        border: none;
        border-radius: 50px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        
    } */
    a.cta{
        padding: 0px 0px;
    }
    
    .cta2 button{
        padding: 4px 10px;
        background-color: #CA791A;
        opacity: 0.8;
        border: none;
        border-radius: 50px;
        font-size: 11px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        /* margin-left: 0%;
        margin-right: 0%; */
    }

    .cta2{
        margin-left: -140px;
        margin-right: -2%;
    }
    
    .cta button{
        padding: 4px 10px;
        background-color: #CA791A;
        opacity: 0.8;
        border: none;
        border-radius: 50px;
        font-size: 11px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        /* margin-left: 10%;
        margin-right: -15%; */
    }  

    .cta{
        margin-right: 40%;
    }
     
    
    button:hover{
        opacity: 1;
    
    }
    
        .hometxt{
            color: rgb(250, 250, 250);
            margin: 19% 0 0 10%;
            font-family: 'Dancing Script', cursive;
            font-size: 20px;
        }
    
        /* .temp{
            display:none;
        } */
    
        .homeContent{
            display: flex;
        }
        
        .HomeImg{
            width: 500px;
            margin: 50% 0% 0% -10%;
        }
      }

